#home-body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

#home-container {
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
  outline: 0.2rem solid black;
  max-width: 60ch;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem 2rem;
}

#home-header {
  display: flex;
  margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
  #home-header {
    flex-direction: column;
  }
  #home-nav,
  #home-avatar {
    // font-size: var(--fluid-1);
    margin: 0 auto;
  }
}

#home-avatar {
  box-shadow: 0.1rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
  outline: 0.2rem solid black;
  border-radius: 50%;
  width: 95px;
}

#home-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#home-ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: right;
}

.home-li {
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
  outline: 0.2rem solid black;
  padding: 0.25rem 0.5rem;

  &:hover {
    background: var(--color-orange);
    cursor: pointer;
  }

  &:first-child {
    margin-left: 0;
  }
}

.home-a {
  text-decoration: none;
  color: black;

  &:hover {
    color: inherit;
  }
}

#home-title {
  font-size: var(--fluid-4);
}

ul#home-ul:first-child {
  padding-left: 0;
}

@media screen and (max-width: 500px) {
  div#home-container {
    border-radius: 0;
    box-shadow: none;
    outline: none;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #home-body {
    display: flex;
    justify-content: flex-start;
  }
}
