ul[class],
ol[class] {
  line-height: 1.5;
  list-style: none;
  padding: 0;
}

// li > {
//     ul,
//     ol {
//         margin-left: var(--spacing-medium);
//         margin-bottom: 0;
//     }
// }

ul.nav__menu {
  display: flex;
  gap: 1rem;
}

ol,
ul {
  font-size: var(--step-1);
}
