table {
  margin: 3rem auto;
  border-collapse: collapse;
  box-shadow: 0.1rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
}

th,
td {
  border: 0.1rem solid #464646;
  padding: 1px 10px;
}

table thead th,
table tfoot th {
  background: rgba(0, 0, 0, 0.1);
}
