/*
 *  Typography design tokens: Font-sizes, line-height, etc. 
 */

/*
  * Fluid type scale based on Utopia (https://utopia.fyi)
  */
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1240;
  --fluid-min-size: 16;
  --fluid-max-size: 18;
  --fluid-min-ratio: 1.2;
  --fluid-max-ratio: 1.25;
}

:root {
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) /
      ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16))
  );
}

@media screen and (min-width: 1500px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --fluid-min-scale-0: var(--fluid-min-ratio);
  --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
  --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
  --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
  --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
  --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
  --fluid-min-scale-6: var(--fluid-min-scale-5) * var(--fluid-min-ratio);
  --fluid-min-scale-7: var(--fluid-min-scale-6) * var(--fluid-min-ratio);
  --fluid-min-scale-8: var(--fluid-min-scale-7) * var(--fluid-min-ratio);

  --fluid-max-scale-0: var(--fluid-max-ratio);
  --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
  --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
  --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
  --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
  --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
  --fluid-max-scale-6: var(--fluid-max-scale-5) * var(--fluid-max-ratio);
  --fluid-max-scale-7: var(--fluid-max-scale-6) * var(--fluid-max-ratio);
  --fluid-max-scale-8: var(--fluid-max-scale-7) * var(--fluid-max-ratio);

  --fluid-min-size-0: (var(--fluid-min-size)) / 16;
  --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
  --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
  --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
  --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
  --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
  --fluid-min-size-6: (var(--fluid-min-size) * var(--fluid-min-scale-5)) / 16;
  --fluid-min-size-7: (var(--fluid-min-size) * var(--fluid-min-scale-6)) / 16;
  --fluid-min-size-8: (var(--fluid-min-size) * var(--fluid-min-scale-7)) / 16;

  --fluid-max-size-0: (var(--fluid-max-size)) / 16;
  --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
  --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
  --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
  --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
  --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
  --fluid-max-size-6: (var(--fluid-max-size) * var(--fluid-max-scale-5)) / 16;
  --fluid-max-size-7: (var(--fluid-max-size) * var(--fluid-max-scale-6)) / 16;
  --fluid-max-size-8: (var(--fluid-max-size) * var(--fluid-max-scale-7)) / 16;

  --fluid-0: calc(
    (
      (var(--fluid-min-size-0) * 1rem) +
        (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)
    )
  );
  --fluid-1: calc(
    (
      (var(--fluid-min-size-1) * 1rem) +
        (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)
    )
  );
  --fluid-2: calc(
    (
      (var(--fluid-min-size-2) * 1rem) +
        (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)
    )
  );
  --fluid-3: calc(
    (
      (var(--fluid-min-size-3) * 1rem) +
        (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)
    )
  );
  --fluid-4: calc(
    (
      (var(--fluid-min-size-4) * 1rem) +
        (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)
    )
  );
  --fluid-5: calc(
    (
      (var(--fluid-min-size-5) * 1rem) +
        (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)
    )
  );
  --fluid-6: calc(
    (
      (var(--fluid-min-size-6) * 1rem) +
        (var(--fluid-max-size-6) - var(--fluid-min-size-6)) * var(--fluid-bp)
    )
  );
  --fluid-7: calc(
    (
      (var(--fluid-min-size-7) * 1rem) +
        (var(--fluid-max-size-7) - var(--fluid-min-size-7)) * var(--fluid-bp)
    )
  );
  --fluid-8: calc(
    (
      (var(--fluid-min-size-8) * 1rem) +
        (var(--fluid-max-size-8) - var(--fluid-min-size-8)) * var(--fluid-bp)
    )
  );
}

// Fluid size assignments
h1 {
  font-size: var(--fluid-6);
  font-weight: 400;
}
h2 {
  font-size: var(--fluid-4);
  font-weight: 400;
}
h3 {
  font-size: var(--fluid-3);
  font-weight: 400;
}
h4,
h5,
h6 {
  font-size: var(--fluid-2);
  font-weight: 400;
}
body {
  font-size: var(--fluid-1);
}
table {
  font-size: var(--fluid-0);
}
pre[class*="language-"] code {
  font-size: var(--fluid-0);
}

// Backlinks
.backlink__preview h1 {
  font-size: var(--fluid-2);
}
.backlink__preview h2 {
  font-size: var(--fluid-1);
}
.backlink__preview p {
  font-size: var(--fluid-0);
}
.backlink {
  font-size: var(--fluid-0);
}
.backlinks-title {
  font-size: var(--fluid-2);
}
time.postlist-date {
  font-size: var(--fluid-0);
}

/* Typography */
@font-face {
  font-display: optional;
  font-family: "Anybody";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/anybody-v11-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: optional;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}

/* Focus behaviour */
:is(a, button, input, textarea, summary) {
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;
  --outline-offset: 3px;
}
:is(a, button, input, textarea, summary):focus {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}
:is(a, button, input, textarea, summary):focus-visible {
  outline: var(--outline-size) var(--outline-style) var(--outline-color);
  outline-offset: var(--outline-offset, var(--outline-size));
}
:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}
// :is(a, button, input, textarea, summary):hover {
//   outline: var(--outline-size) var(--outline-style) var(--outline-color);
//   outline-offset: var(--outline-offset, var(--outline-size));
//   background: var(--color-orange);
// }

/* Others */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* General */
body {
  // background: var(--color-black);
  // background-attachment: fixed;
  // background-image: url("../images/nnnoise-dark.svg");
  // color: var(--color-grey-light);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  // color: var(--color-white);
  font-family: "Anybody", sans-serif;
}

h1 {
  font-size: var(--step-5);
}
h2 {
  font-size: var(--step-4);
}
h3 {
  font-size: var(--step-4);
}
h4 {
  font-size: var(--step-3);
}
h5 {
  font-size: var(--step-2);
}
h6 {
  font-size: var(--step-1);
}
footer p,
footer p a {
  font-size: var(--step--1);
}
hr {
  font-size: var(--step-1);
}
.nav-item {
  font-size: var(--step-0);
}
a,
blockquote,
ul,
p {
  font-family: "Inter", sans-serif;
  font-size: var(--step-1);
  hyphens: auto;
}
