<footer
    class="site-footer"
    role="contentinfo"
>
    <div class="site-footer__inner container">
        <p>
            © {{ build.timestamp | dateToFormat('yyyy') }} Miguel Pimentel •
            Built with
            <a href="https://www.11ty.dev/">11ty</a>
            and
            <a href="https://vitejs.dev/">Vite</a>.
        </p>
    </div>
</footer>
