<nav class="navigation">
    <ul class="navigation-menu">
        <li {% if page.url === "/" %} class="current-page" {% endif %}>
            <a href="/" {% if page.url === url %} aria-current="page" {% endif %}>Home</a>
        </li>
        {% for item in navigation[page.lang] %}
            {%- set url = item.url | locale_url %}
            <li {% if page.url === url %} class="current-page" {% endif %}>
                <a href="{{ url }}" {% if page.url === url %} aria-current="page" {% endif %}>
                    {{ item.text }}
                </a>
            </li>
        {%- endfor %}
    </ul>
    {# {% include "switch-il8n.njk" %} #}
</nav>