<div class="container">
    <h2 class="backlinks-title">Popup</h2>
    {% if popup.length > 0 %}
        <ul class="backlinks-container">
            {% for link in popup %}
                {% if link.url === urlHover %}
                    <li class="backlink">
                        <a href="{{ link.url }}" class="backlink__link">{{ link.title }}</a>
                        <div class="backlink__preview" role="none">
                            {{ link.preview | markdownify | safe }}
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
</div>