blockquote {
    outline: 0.1rem solid black;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
    padding: 0.1rem 1.5rem;
    background: rgba(0, 0, 0, 0.05);
    font-weight: 100;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', serif;
    line-height: 1.25;
}
