code {
    padding: 0 0.2rem;
    line-height: 1.2;
    border-radius: 0.2rem;
    outline: 0.1rem solid black;
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
}

pre {
    box-shadow: 0.1rem 0.5rem 0.7rem rgba(0, 0, 0, 0.75) inset;
    border-radius: 0.4rem;
    overflow: auto;
    outline: 0.15rem solid rgba(0, 0, 0, 0.75);
    line-height: 1 !important;
}

pre[class*='language-'] {
    margin: 1.5rem 0 !important;
}

pre code {
    background-color: transparent;
    outline: none;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.2),
        0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.copy-to-clipboard-button {
    padding: 0.5rem !important;
    height: 2rem;
}
