---
layout: base
---

<article class="hentry">
    <header class="entry-header">
        <h1 class="entry-title site-title">Blog</h1>
    </header>
</article>
<div class="posts-list">
    {% include "posts.njk" %}
</div>