---
layout: base
---

<article class="hentry">
    <header class="entry-header">
        <h1 class="entry-title site-title">{{ title }}</h1>
    </header>

    {# {% include 'toc.njk' %} #}
    
    <div class="entry-content">
        {{ content | safe }}
    </div>
</article>
{% include 'backlinks.njk' %}