@use "pieces/accessibility";
@use "pieces/blockquote";
@use "pieces/blog";
@use "pieces/clearfix";
@use "pieces/code";
@use "pieces/color-themes";
@use "pieces/footer";
@use "pieces/forms";
@use "pieces/header";
@use "pieces/home";
@use "pieces/hr";
@use "pieces/layout";
@use "pieces/lists";
@use "pieces/tables";
@use "pieces/typography";
@use "pieces/links";
// @use "pieces/images";
// @use "pieces/media-queries";
// @use "pieces/print";

@use "pieces/catalogo";

/* Contrast preference */
@media (prefers-contrast: more) {
  body {
    background: #000;
    color: #fff;
    padding: 1rem;
  }

  h1,
  h2 {
    color: #fff;
  }
}

/* Reduced motion preference */
@media (prefers-reduced-motion: no-preference) {
  :focus,
  :hover {
    transition: outline-offset 0.25s ease;
    outline-offset: 5px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  column-count: 2;
  justify-content: space-between;
  gap: 1rem;
}
