---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { ABOUT } from "@consts";
import Link from "@components/Link.astro";
import LetsConnect from "@components/LetsConnect.astro";
---

<Layout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="animate font-semibold">About Me</h1>
      <div class="space-y-16">
        <section class="animate space-y-6">
          <article class="space-y-4">
            <img
              src="https://bear-images.sfo2.cdn.digitaloceanspaces.com/database-1717263783-0.webp"
              id="main-img"
              alt="illustration, sitting on desk with laptop"
              width=""
              height=""
              style="border:none; width:100%;"
            />
            <div class="badges">
              <a
                class="badge"
                href="https://en.wikipedia.org/wiki/Web_development"
                ><img
                  alt="Static Badge"
                  src="https://img.shields.io/badge/Web_Development-FF3EA5?style=flat-square"
                /></a
              >
              <a
                class="badge"
                href="https://en.wikipedia.org/wiki/Static_site_generator"
                ><img
                  alt="Static Badge"
                  src="https://img.shields.io/badge/Static%20Site%20Generators-gold?style=flat-square"
                /></a
              >
              <a
                class="badge"
                href="https://learn.org/articles/What_is_Fire_Science.html"
                ><img
                  alt="Static Badge"
                  src="https://img.shields.io/badge/Fire%20Science-red?style=flat-square"
                /></a
              >
              <a
                class="badge"
                href="https://en.wikipedia.org/wiki/Video_game_development"
                ><img
                  alt="Static Badge"
                  src="https://img.shields.io/badge/Game%20Development-836FFF?style=flat-square"
                /></a
              >
              <a
                class="badge"
                href="https://en.wikipedia.org/wiki/Personal_knowledge_management"
                ><img
                  alt="Static Badge"
                  src="https://img.shields.io/badge/Personal%20Knowledge%20Management-darkgreen?style=flat-square"
                /></a
              >
              <a
                class="badge"
                href="https://en.wikipedia.org/wiki/Public_infrastructure"
                ><img
                  alt="Static Badge"
                  src="https://img.shields.io/badge/Public%20Infrastructure-gray?style=flat-square"
                /></a
              >
              <a class="badge" href="https://maggieappleton.com/garden-history"
                ><img
                  alt="Static Badge"
                  src="https://img.shields.io/badge/Digital%20Gardening-rebeccapurple?style=flat-square"
                /></a
              >
              <a
                class="badge"
                href="https://en.wikipedia.org/wiki/Materials_science"
                ><img
                  alt="Static Badge"
                  src="https://img.shields.io/badge/Materials%20Science-A0153E?style=flat-square"
                /></a
              >
            </div>

            <span class="animate">
              <p>
                Hello, my name is Miguel Pimentel. I am an engineering project
                manager and self-taught hobby developer borned in the Dominican
                Republic, and currently living in Minnesota, US.
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <h2 class="font-semibold">Chronic Curiosity</h2>
          <article class="space-y-4">
            <span class="animate">
              <p>
                I have an insatiable curiosity that leads me to explore a wide
                range of interests and projects. Some of the things I’ve delved
                into include:
              </p>
              <ul>
                <li>
                  … designing bike trails and residential roads in AutoCAD Civil
                  3D.
                </li>
                <li>
                  … creating my own <Link
                    href="https://addons.mozilla.org/en-US/firefox/user/17772574/"
                    >Browser Extensions
                  </Link>.
                </li>
                <li>
                  … teaching <Link
                    href="https://en.wikipedia.org/wiki/English_as_a_second_or_foreign_language"
                    >English as a Second Language
                  </Link>.
                </li>
                <li>… learning web development and computer programming.</li>
                <li>… getting licensed as a Firefighter.</li>
                <li>… getting certified as Emergency Medical Technician.</li>
                <li>… inspecting public road construction projects.</li>
                <li>… working in a construction materials laboratory.</li>
              </ul>
              <p>
                In my free time, I’m drawn to even more topics, such as public
                infrastructure, digital gardening, materials science, game
                development, and personal knowledge management.
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <h2 class="font-semibold">Professional Experience</h2>
          <article class="space-y-4">
            <span class="animate">
              <p>
                As an <strong> Engineering Project Manager </strong>
                for the <Link href="https://www.crystalmn.gov/"
                  >City of Crystal</Link
                >. Some of my duties include preparing detailed plans,
                specifications, solicitations, proposals for bids, and cost
                estimates; managing contracts from bid solicitation through
                project completion; and inspecting ongoing and completed
                construction for compliance with those specifications.
              </p>
              <p>
                I also maintain accurate project records, review as-built plans,
                and oversee right-of-way management and permitting. My role
                involves working closely with various private and public
                agencies, utilizing GIS and CAD systems, and assisting with <Link
                  href="https://www.jwcontap.org/">Joint Water Commission</Link
                > and <Link href="https://bwsr.state.mn.us/watershed-districts"
                  >Watershed District</Link
                > functions.
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <h2 class="font-semibold">Career Journey</h2>
          <article class="space-y-4">
            <span class="animate">
              <p>
                With over 10 years of experience in construction, I have amassed
                a number of unique projects and experiences that cover many
                different fields. It all started when I got my first job as a
                Civil Engineering Technician for a contracting company near my
                university. I was at the time attending
                <Link href="https://www.intec.edu.do/">INTEC</Link> while pursuing
                a Bachelor's in Civil Engineering. Unfortunately, I was unable to
                finish my college education due to personal reasons.
              </p>
              <p>
                Nevertheless, today I thrive having experience in not only
                public infrastructure, but technology, electrical, rail, and bus
                related projects as well. In the past, you could also find me
                working as a volunteer/on-call <b>Firefighter</b> for the City of
                Bloomington. If interested, take a look at my
                <Link
                  href="https://api.raindrop.io/v2/raindrop/779238867/file?type=application/pdf"
                  >resume
                </Link>.
              </p>
            </span>
          </article>
        </section>

        <LetsConnect />
      </div>
    </aside>
  </Container>
</Layout>
