---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { USES } from "@consts";
import Link from "@components/Link.astro";
import LetsConnect from "@components/LetsConnect.astro";
---

<Layout title={USES.TITLE} description={USES.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="animate font-semibold">Uses</h1>
      <div class="space-y-16">
        <section class="animate space-y-4">
          <article class="space-y-4">
            <span class="animate">
              <blockquote>
                <p>
                  Here’s a curated, but non-comprehensive, non-exhaustive list
                  of the hardware and software I use on a day-to-day basis. It's
                  inspired by the <Link href="https://uses.tech/"
                    >uses pages</Link
                  > idea.
                </p>
              </blockquote>
            </span>
          </article>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold">Hardware</h2>
          <article class="space-y-4">
            <span class="animate">
              <ul>
                <li>
                  <Link
                    href="https://www.notebookcheck.net/Lenovo-ThinkPad-T480s-20L8S02D00.294734.0.html"
                    >Lenovo Thinkpad T480s</Link
                  > – Laptop
                </li>
                <li>
                  <Link
                    href="https://www.logitech.com/en-us/products/mice/m575-ergo-wireless-trackball"
                    >Logi M575</Link
                  > – Mouse
                </li>
                <li>
                  <Link
                    href="https://info.skullcandy.com/Support?Dest=hc%2Fen-us%2Farticles%2F360034534854-Crusher-ANC-Wireless"
                    >Skullcandy Crusher ANC</Link
                  > – Headphones
                </li>
                <li>
                  <Link href="https://en.wikipedia.org/wiki/Canon_EOS_7D"
                    >Canon EOS 7D</Link
                  > – Camera
                </li>
              </ul>
            </span>
          </article>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold">Software</h2>
          <article class="space-y-4">
            <span class="animate">
              <ul>
                <li>
                  <Link href="https://obsidian.md/">Obsidian</Link> – Markdown Text
                  Editor
                </li>
                <li>
                  <Link href="https://code.visualstudio.com/"
                    >Visual Studio Code</Link
                  > – Code Editor
                </li>
                <li>
                  <Link href="https://logseq.com/">Logseq</Link> - Knowledge Management
                </li>
                <li>
                  <Link href="https://raindrop.io/">Raindrop</Link> – Bookmarks Manager
                </li>
                <li>
                  <Link href="https://ticktick.com/">TickTick</Link> - Tasks Manager
                </li>
              </ul>
            </span>
          </article>
        </section>

        <section class="animate space-y-4">
          <h3 class="font-semibold">
            Noteworthy Visual Studio Code Extensions
          </h3>
          <article class="space-y-4">
            <span class="animate">
              <ul>
                <li>
                  <Link
                    href="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode"
                    >Prettier</Link
                  > – Opinionated Code Formatter.
                </li>
                <li>
                  <Link
                    href="https://marketplace.visualstudio.com/items?itemName=yzhang.markdown-all-in-one"
                    >Markdown All in One</Link
                  > – Markdown Support.
                </li>
                <li>
                  <Link
                    href="https://marketplace.visualstudio.com/items?itemName=Markwhen.markwhen"
                    >Markwhen</Link
                  > – View/Edit Markwhen documents.
                </li>
                <li>
                  <Link
                    href="https://marketplace.visualstudio.com/items?itemName=gera2ld.markmap-vscode"
                    >Markmap</Link
                  > – Preview markdown files as Markmap.
                </li>
                <li>
                  <Link
                    href="https://marketplace.visualstudio.com/items?itemName=vsls-contrib.gistfs"
                    >GistPad</Link
                  > – Edit GitHub Gists and Repositories remotely.
                </li>
                <li>
                  <Link
                    href="https://marketplace.visualstudio.com/items?itemName=alefragnani.project-manager"
                    >Project Manager</Link
                  > – Easily change current Project/Folder.
                </li>
                <li>
                  <Link
                    href="https://marketplace.visualstudio.com/items?itemName=ahgood.shift-shift"
                    >shift shift</Link
                  > – Provides shortcuts for <kbd>shift</kbd> + <kbd>shift</kbd>
                  and <kbd>ctrl</kbd> + <kbd>ctrl</kbd>.
                </li>
                <li>
                  <Link
                    href="https://marketplace.visualstudio.com/items?itemName=pranaygp.vscode-css-peek"
                    >CSS Peek</Link
                  > – Introduces `Go To Definition` and `Go To Symbol in Workspace`
                  support.
                </li>
              </ul>
            </span>
          </article>
        </section>

        <section class="animate space-y-4">
          <h3 class="font-semibold">Essential Obsidian Extensions</h3>
          <article class="space-y-4">
            <span class="animate">
              <ul>
                <li>
                  <Link href="https://github.com/scambier/obsidian-omnisearch"
                    >Omnisearch</Link
                  > – Better Search Engine.
                </li>
                <li>
                  <Link href="https://github.com/denolehov/obsidian-git"
                    >Obsidian Git</Link
                  > – Run Git commands from Obsidian.
                </li>
                <li>
                  <Link href="https://github.com/argenos/nldates-obsidian"
                    >Natural Language Dates</Link
                  > – Adds `@today` format to dates.
                </li>
                <li>
                  <Link href="https://github.com/platers/obsidian-linter"
                    >Linter</Link
                  > – Customizable Markdown Linter similar to Prettier.
                </li>
                <li>
                  <Link
                    href="https://github.com/timhor/obsidian-editor-shortcuts"
                    >Editor Shortcuts</Link
                  > – Adds shortcuts usually found in Code Editors.
                </li>
                <li>
                  <Link
                    href="https://github.com/ObsidianPublisher/obsidian-github-publisher"
                    >GitHub Publisher</Link
                  > – Publish your notes to a preconfigured repository.
                </li>
                <li>
                  <Link href="https://github.com/Qwyntex/doubleshift"
                    >DoubleShift</Link
                  > – Provides shortcuts for <kbd>shift</kbd> + <kbd>shift</kbd>
                  and <kbd>ctrl</kbd> + <kbd>ctrl</kbd>.
                </li>
                <li>
                  <Link
                    href="https://github.com/mgmeyers/obsidian-contextual-typography"
                    >Contextual Typography</Link
                  > – Allows for custom insertion of code at the block level.
                </li>
              </ul>
            </span>
          </article>
        </section>

        <section class="animate space-y-4">
          <h3 class="font-semibold">Notable Windows Programs</h3>
          <article class="space-y-4">
            <span class="animate">
              <ul>
                <li>
                  <Link href="https://www.voidtools.com/">Everything</Link> – Locate
                  files and folders by name instantly.
                </li>
                <li>
                  <Link href="https://github.com/QL-Win/QuickLook"
                    >QuickLook</Link
                  > – Bring macOS "Quick Look" feature to Windows.
                </li>
                <li>
                  <Link href="https://github.com/microsoft/PowerToys"
                    >PowerToys</Link
                  > – Windows system utilities to maximize productivity.
                </li>
                <li>
                  <Link href="https://github.com/File-New-Project/EarTrumpet"
                    >EarTrumpet</Link
                  > – Volume control, multi-channel discovery, default playback device
                  management.
                </li>
                <li>
                  <Link href="https://github.com/torakiki/pdfsam">PDFsam</Link> –
                  PDFsam, a desktop application to split, merge, mix, rotate PDF
                  files and extract pages.
                </li>
              </ul>
            </span>
          </article>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold">Tools & Technologies</h2>
          <article class="space-y-4">
            <a class="badge-link" target="_blank" href="https://astro.build/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/astro.svg"
                alt="astro"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://bulma.io/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/bulma.svg"
                alt="vite"
                height="48px"
              /></a
            >
            <a
              class="badge-link"
              target="_blank"
              href="https://developer.mozilla.org/en-US/docs/Web/CSS"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/css.svg"
                alt="css"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://www.docker.com/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/docker.svg"
                alt="docker"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://11ty.dev/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/eleventy.svg"
                alt="vite"
                width="36px"
              /></a
            >
            <a
              class="badge-link"
              target="_blank"
              href="https://www.git-scm.com/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/git.svg"
                alt="vite"
                width="36px"
              /></a
            >
            <a
              class="badge-link"
              target="_blank"
              href="https://godotengine.org/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/godot.svg"
                alt="godot"
                width="36px"
              /></a
            >
            <a
              class="badge-link"
              target="_blank"
              href="https://developer.mozilla.org/en-US/docs/Web/HTML"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/html.svg"
                alt="html"
                width="36px"
              /></a
            >
            <a
              class="badge-link"
              target="_blank"
              href="https://typicode.github.io/husky/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/husky.svg"
                alt="husky"
                width="36px"
              /></a
            >
            <a
              class="badge-link"
              target="_blank"
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/javascript.svg"
                alt="javascript"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://love2d.org/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/love.ico"
                alt="vite"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://lua.org/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/lua.svg"
                alt="lua"
                width="36px"
              /></a
            >
            <a
              class="badge-link"
              target="_blank"
              href="https://www.markdownguide.org/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/markdown.svg"
                alt="markdown"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://neovim.io/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/neovim.svg"
                alt="vite"
                width="36px"
              /></a
            >
            <a
              class="badge-link"
              target="_blank"
              href="https://mozilla.github.io/nunjucks/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/nunjucks.svg"
                alt="nunjucks"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://obsidian.md/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/obsidian.svg"
                alt="obsidian"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://pnpm.io/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/pnpm.svg"
                alt="pnpm"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://postcss.org/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/postcss.svg"
                alt="postcss"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://prettier.io/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/prettier.svg"
                alt="prettier"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://www.python.org/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/python.svg"
                alt="vite"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://sass-lang.com/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/sass.svg"
                alt="sass"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://svelte.dev/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/svelte.svg"
                alt="svelte"
                width="36px"
              /></a
            >
            <a
              class="badge-link"
              target="_blank"
              href="https://tailwindcss.com/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/tailwindcss.svg"
                alt="vite"
                width="36px"
              /></a
            >
            <a
              class="badge-link"
              target="_blank"
              href="https://www.typescriptlang.org/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/typescript.svg"
                alt="typescript"
                width="36px"
              /></a
            >
            <a class="badge-link" target="_blank" href="https://vitejs.dev/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/vite.svg"
                alt="vite"
                width="36px"
              /></a
            >
            <a
              class="badge-link"
              target="_blank"
              href="https://www.getzola.org/"
              ><img
                class="badge-icon"
                src="https://raw.githubusercontent.com/semanticdata/semanticdata/main/assets/icons/zola.ico"
                alt="vite"
                width="36px"
              /></a
            >
          </article>
        </section>

        <LetsConnect />
      </div>
    </aside>
  </Container>
</Layout>
