.notelist-link {
    text-decoration: none;
}
.notelist-item {
    margin-top: 0.5rem;
    display: inline-flex;
    width: 45%;
}
// .notelist {
//   background: palegoldenrod;
// }

@media screen and (max-width: 550px) {
    .notelist-item {
        width: 100%;
        margin-top: 1rem;
    }
}
