<footer>
  <nav>
    <a href="https://github.com/semanticdata/miguelpimentel.do">GitHub</a>
    <a href="/journal">Journal</a>
    <a href="/meta">Meta</a>
    <a href="/now">Now</a>
    <a href="/uses">Uses</a>
  </nav>
  <p>
    © 2024 Miguel Pimentel · <a
      href="https://github.com/semanticdata/miguelpimentel.do/blob/main/LICENSE"
      >MIT License</a
    >
  </p>
</footer>
