<header>
  <a class="nav-item" href="/">Home</a>
  <a class="nav-item" href="/about">About</a>
  <a class="nav-item" href="/blog">Blog</a>
  <!-- <a class="nav-item" href="/journal">Journal</a> -->
  <a class="nav-item" href="/notes">Notes</a>
  <!-- <a class="nav-item" href="/uses">Uses</a> -->
</header>
