// Main Site Layout

body {
    overflow-x: hidden;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: var(--container-max-width);
    padding: 2rem 1rem; // fallback
    padding: 1rem clamp(var(--spacing-small), 3.75vw, var(--spacing-medium));
}

main.main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
