---json
{
  "permalink": "/public/feed.xsl",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="3.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:atom="http://www.w3.org/2005/Atom">
  <xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/>
  <xsl:template match="/">
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en">
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title><xsl:value-of select="/atom:feed/atom:title"/></title>
        <style>
          body.rss-xslt {
            font-family: Georgia, 'Times New Roman', Times, serif;
          }
          main#content {
            margin: 0 auto;
            max-width: 50rem;
          }
          div.entry-content {
            outline: 0.1rem solid black;
            box-shadow: 0.1rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
            padding: 0.5rem 1rem;
            border-radius: 0.4rem;
            background-color: #afc26c;
          }
          p.notice {
            padding: 1rem;
            border-radius: 0.4rem;
            background-color: #6cc2a1;
            outline: 0.1rem solid black;
            box-shadow: 0.1rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
            max-width: initial;
            font-size: var(--fluid-0);
          }
          p.notice a:hover {
            color: rgb(168, 12, 12);
          }
          .rss-item {
            margin-bottom: 1rem;
            list-style-type: none;
          }
          .posts {
            padding-left: 0;
          }
        </style>
      </head>
      <body class="rss-xslt">
        <main id="content">
          <p class="notice">This is an RSS feed. Copy and paste the URL into your feed reader.</p>
          <div class="entry-content">
            <h1>Latest blog posts</h1>
            <ul class="posts">
              <xsl:for-each select="/atom:feed/atom:entry">
                <li class="rss-item">
                  <a>
                    <xsl:attribute name="href">
                      <xsl:value-of select="atom:link/@href"/>
                    </xsl:attribute>
                    <xsl:value-of select="atom:title"/>
                  </a>
                  <div><xsl:value-of select="substring(atom:updated, 0, 11)"/></div>
                </li>
              </xsl:for-each>
            </ul>
          </div>
                    <p class="notice">Visit
            <a href="https://aboutfeeds.com">About Feeds</a>
            to learn more about RSS.</p>
        </main>
      </body>
    </html>
  </xsl:template>
</xsl:stylesheet>