---
layout: base
# title: Home
tags: home
seo:
  description: "Miguel Pimentel—Problem solver, hobby developer, music enjoyer, and public infrastructure enthusiast based in Minnesota, USA."
---

<div class="site-intro">
  <h1 class="site-title">Hi, I'm Miguel!</h1>
  <p>Problem solver, hobby developer, music enjoyer, and public infrastructure enthusiast based in Minnesota, US.</p>
  <p>I think a lot, work a lot, have existential crises, and know just enough about making websites to make me dangerous.
    While I like writing, reading, coding, and listening to music, I
    <b>
      <i>love</i>
    </b>
    having a problem to solve.</p>
  <p>Thanks for visiting. Tell your 🐶 said "Hi!".</p>
</div>