---
layout: base
---

<article class="container">
    <h1 class="page-title">{{ title }}</h1>
    {% set noteslist = collections.notes %}
    <div reversed class="notelist">
        {% for post in noteslist %}
            <div class="notelist-item{% if post.url == url %} notelist-item-active{% endif %}">
                <a href="{{ post.url | url }}" class="notelist-link">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        <code>{{ post.url }}</code>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
</article>