---
import Layout from "@layouts/Layout.astro"
const allPosts = await Astro.glob("../pages/notes/*.md")
---

<Layout>
  <h1 class="blog-note-title">Notes</h1>
  <slot />
  <article class="catalogo flex-container">
    {
      allPosts.map((post) => (
        <div class="catalogo-container">
          <a class="catalogo-item" href={post.url}>
            <h2 class="catalogo-title">{post.frontmatter.title}</h2>
          </a>
          <div class="catalogo-line" />
          <p class="catalogo-description">{post.frontmatter.description}</p>
        </div>
      ))
    }
  </article>
</Layout>
